# GENERIC
local/
.DS_Store
.vscode

# PYTHON
**/__pycache__/
qudit.egg-info
tests/test.py
test*.py

# NODE
dist
build/
pnpm-lock.yaml
package.json
node_modules/
docs/.vitepress/cache/

# CUSTOM/HYBRID
docs/code
docs/tests
docs/public/dumps

missing.md
claude.md
.claude/